<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oreooo.wanandroid_test">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.oreooo.wanandroid_test.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name="com.oreooo.main.login.LoginAct"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.oreooo.wanandroid.webview.WebViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.oreooo.main.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.oreo.module_search.SearchAct"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.oreo.wxarticle.webview.WebViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.example.oreooo.todoforstudy.ToDoAct"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name="com.oreooo.module_user.UserAct"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>
</manifest>